name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: quay.io/fedora/fedora-minimal:latest
      options: --privileged
    steps:
      - name: Install dependencies
        run: dnf install -y git-core cargo

      - uses: actions/checkout@v6

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
